/* Add custom styling below */

.qaApp {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.moreAnswersRow {
  display: flex;
  justify-content: center;
}

.qaAppInner {
  width: 80vw;
}

.qaDisplay {
  max-height: 89vh;
  overflow-y: auto;
}

.question {
  border: 2px solid black;
  border-radius: 20px;
  margin: 5px;
}

.qButtonRow {
  margin-left: 5vh;
}

.answerRow {
  max-height: 50vh;
  overflow-y: auto;
}

.qHelpfulBtn, .aHelpfulBtn {
  width: 90px;
}

.qReportBtn, .aReportBtn {
  margin-left: 20px;
}

.moreAnswers, .collapseAnswers {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 300px;
}

.reportedAnswer {
  margin: 15px;
}

.reportedQuestion {
  margin: 15px;
}