/* Add custom styling below */

/* remove body styling when deploying */
body {
  overflow: hidden;
}

.qaApp {
  display: flex;
  justify-content: center;
}

.moreAnswersRow, .seeMoreQs, .submitQButton {
  display: flex;
  justify-content: center;
}

.qaAppInner {
  width: 80vw;
}

.qaDisplay {
  max-height: 69vh;
  overflow-y: auto;
}

.question {
  border: 2px solid black;
  border-radius: 20px;
  margin: 5px;
}

.qButtonRow {
  margin-left: 5vh;
}

.aButtonCol {
  margin-left: 3vh;
}

.answerRow {
  max-height: 50vh;
  overflow-y: auto;
}

.qHelpfulBtn, .aHelpfulBtn {
  width: 75px;
}

.qReportBtn, .aReportBtn {
  margin-left: 20px;
}

.moreAnswers, .collapseAnswers, .moreQsButton {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 300px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 0;
}

.thumbnailDiv {
  display: flex;
  max-height: 20vh;
  overflow-y: hidden;
}

.thumbnailContainer {
  width: 18%;
  margin: 0 auto;
}

.thumbnail {
  border: 1px solid rgb(175, 175, 175);
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: auto;
}

.submitAnswerRow {
  display: flex;
  justify-content: center;
}

.filePickerContainer {
  display: flex;
  justify-content: center;
}

.filePickerButton {
  padding: 7px;
  border: 1px solid gray;
  border-radius: 4px;
}

.filePickerButton:hover {
  color: white;
  background-color: black;
}

input[type="file"] {
  display: none;
}

.inputMessage {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: -2vh;
  width: 100%;
}